[Unit]
Description=Mailjet endpoint

[Service]
Type=simple
User=mailjet_endpoint
WorkingDirectory=~
ExecStart=/usr/bin/nodejs endpoint.js 
Restart=on-failure

[Install]
WantedBy=multi-user.target

